name: IntegrationTest

on:
  workflow_dispatch:
  pull_request:
    branches:
      - int

permissions: read-all
env:
  GOPRIVATE: github.com/step-security
jobs:
  integration-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
      - name: Set up Go
        uses: actions/setup-go@424fc82d43fa5a37540bae62709ddcc23d9520d4
        with:
          go-version: 1.24.1
          
      - name: Configure .netrc
        run: |
          if [[ ! -e "~/.netrc" ]]; then
              touch ~/.netrc
          fi
          printf "machine github.com login stepsecurity-infra-bot password ${{ secrets.PAT }}" >>~/.netrc
      
      - name: Create go vendor dir
        run: |
          go mod vendor

      - run: sudo go test -v
      - run: go build -ldflags="-s -w" -o ./agent
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@ea7b857d8a33dc2fb4ef5a724500044281b49a5e
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - run: aws s3 cp ./agent s3://step-security-agent/refs/heads/int/agent --acl public-read
      - name: Integration test
        uses: docker://ghcr.io/step-security/integration-test/int:latest
        env:
          PAT: ${{ secrets.PAT }}
