name: Test
on:
  push:

permissions: read-all    

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@v1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout
      uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
    - name: Set up Go 
      uses: actions/setup-go@424fc82d43fa5a37540bae62709ddcc23d9520d4
      with:
        go-version: 1.17
    - name: Run coverage
      run: sudo CI=true go test -race -coverprofile=coverage.txt -covermode=atomic      
    - uses: codecov/codecov-action@f32b3a3741e1053eb607407145bc9619351dc93b